/* #region Select */

.select-type {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.select-type__button {
  flex: 1;

  background: none;

  width: min(512px, 90vw);
  aspect-ratio: 1 / 1;

  padding: min(2rem, 4vw);
  border: 1px solid var(--dune);
  border-radius: min(64px, 8vw) 0 min(64px, 8vw) 0;

  transition: 0.2s ease;
}

.select-type__button-title {
  color: var(--dune);

  font-size: min(var(--d3), 24vw);

  transition: 0.2s ease;
}

.select-type__button-subtitle {
  color: var(--dune);

  transition: 0.2s ease;
}

.select-type__button:hover {
  border-color: var(--earth);
}

button:hover .select-type__button-title {
  color: var(--earth);
}

button:hover .select-type__button-subtitle {
  color: var(--earth);
}

.select-type__button[disabled] {
  border-color: var(--orange);
}

button[disabled] .select-type__button-title {
  color: var(--brown);
}

button[disabled] .select-type__button-subtitle {
  color: var(--brown);
}

@media (max-width: 64em) {
  .select-type {
    flex-direction: column;
    align-items: center;
  }

  .select-type__button {
    max-width: 64rem;
  }
}

/* #endregion */

/* #region Flash */

.flash-form {
  --padding: min(1rem, 3vw);

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);

  isolation: isolate;

  width: calc(min(100%, 90vw) - var(--padding) * 4);
  height: 50vh;

  margin: 0 auto;

  padding: calc(var(--padding) * 2);
  border: 1px solid var(--brown);
  border-radius: calc(var(--padding) * 4) 0 calc(var(--padding) * 4) 0;

  overflow-y: scroll;
}

.flash-form__option {
  position: relative;

  aspect-ratio: 1 / 1;
}

.flash-form__option-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flash-form__option-image:hover {
  opacity: 0.6;
  cursor: pointer;
}

.flash-form__option-image:active {
  opacity: 0.4;
  cursor: pointer;
}

.flash-form__option-input {
  display: none;
}

.flash-form__option-border {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-1px, -1px);
  z-index: -1;

  width: 100%;
  height: 100%;

  border: 1px solid var(--dune);
  border-radius: calc(var(--padding) * 2) 0 calc(var(--padding) * 2) 0;
}

.flash-form__option-label {
  background: url("../img/flash.jpg");
  background-size: cover;

  display: block;

  width: calc(100% - var(--padding) * 2);
  height: calc(100% - var(--padding) * 2);

  border-radius: var(--padding) 0 var(--padding) 0;
  margin: var(--padding);
}

.flash-form__option-input:checked ~ .flash-form__option-border {
  border: 1px solid var(--orange);
}

/*
.flash-form__option-input:checked ~ .flash-form__option-label {
  width: calc(100% - var(--margin) * 2);
  height: calc(100% - var(--margin) * 2);

  border-radius: 1rem 0 1rem 0;
}
*/

@media (max-width: 64em) {
  .flash-form {
    grid-template-columns: repeat(1, 1fr);
  }
}
