:root {
  --navbar-height: 6rem;
}

.bt-navbar {
  position: sticky;
  top: 0;
  z-index: 50;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--primary-500);

  height: var(--navbar-height);
  padding: 1.5rem 2.5rem;

  border-bottom: 1px solid var(--neutral-300);
}

.bt-navbar__logo {
  color: var(--secondary-500);

  font-family: var(--font-proclamate-heavy), sans-serif;
  font-size: 1.5rem;
}

.bt-navbar__links {
  display: flex;
  gap: 10vw;
}

.bt-navbar__link--active,
.bt-navbar__link--active:hover {
  color: var(--accent-500);
}
