/* #region Gallery */

.gallery {
  position: relative;

  z-index: -1;

  width: min(1344px, 90vw);
  height: 60vh;

  border: 1px solid var(--brown);
  border-radius: min(64px, 8vw, 4vh) 0 min(64px, 8vw, 4vh) 0;
}

.gallery__label-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: hidden;
}

.gallery__label {
  color: var(--orange);

  font-size: min(11.667rem, 16vw);
}

.gallery__images {
  display: grid;
  gap: min(32px, 4vw, 2vh);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: calc(100% - min(64px, 8vw, 4vh));
  height: calc(100% - min(64px, 8vw, 4vh));
}

.gallery__image-container {
  width: 100%;
  height: 100%;

  border-radius: min(32px, 4vw, 2vh) 0 min(32px, 4vw, 2vh) 0;
  isolation: isolate;

  overflow: hidden;
}

.gallery__image-container._1 {
  grid-column: span 2;
}

.gallery__image-container._2 {
  grid-row: span 2;
}

.gallery__image-container._3 {
  grid-column: span 2;
}

/**/

.gallery__image-container._5 {
  grid-row: span 2;
}

.gallery__image-container._6 {
  grid-column: span 2;
}

.gallery__image-container._9 {
  grid-column: span 2;
}

/**/

.gallery__image-container._12 {
  grid-row: span 2;
}

.gallery__image-container._13 {
  grid-row: span 2;
}

.gallery__image-container._14 {
  grid-column: span 2;
}

/**/

.gallery__image-container._15 {
  grid-row: span 2;
}

.gallery__image-container._18 {
  grid-row: span 2;
}

.gallery__image-container._19 {
  grid-column: span 2;
}

.gallery__image {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

@media (max-width: 64em) {
  .gallery__images {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .gallery__image-container._1 {
    grid-column: span 1;
  }

  .gallery__image-container._2 {
    grid-column: span 2;
    grid-row: span 1;
  }

  .gallery__image-container._3 {
    grid-column: span 1;
  }

  /**/

  .gallery__image-container._5 {
    grid-row: span 1;
  }

  .gallery__image-container._6 {
    grid-column: span 1;
  }

  .gallery__image-container._7 {
    grid-column: span 1;
  }

  .gallery__image-container._9 {
    grid-column: span 2;
  }

  /**/

  .gallery__image-container._12 {
    grid-row: span 2;
  }

  .gallery__image-container._13 {
    grid-row: span 1;
  }

  .gallery__image-container._14 {
    grid-column: span 1;
  }

  /**/

  .gallery__image-container._15 {
    grid-row: span 1;
  }

  .gallery__image-container._16 {
    grid-row: span 2;
  }

  .gallery__image-container._18 {
    grid-row: span 1;
  }

  .gallery__image-container._19 {
    grid-column: span 1;
  }
}

/* #endregion */
