.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100vh;

  margin-bottom: 8rem;
}

/* #region Gallery */

.gallery {
  position: relative;

  z-index: -1;

  width: min(1344px, 90vw);
  height: 60vh;

  border: 1px solid var(--brown);
  border-radius: min(64px, 8vw, 4vh) 0 min(64px, 8vw, 4vh) 0;
}

.gallery__label {
  color: var(--orange);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: min(11.667rem, 16vw);
}

.gallery__images {
  display: grid;
  gap: min(32px, 4vw, 2vh);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: calc(100% - min(64px, 8vw, 4vh));
  height: calc(100% - min(64px, 8vw, 4vh));
}

.gallery__image-container {
  width: 100%;
  height: 100%;

  border-radius: min(32px, 4vw, 2vh) 0 min(32px, 4vw, 2vh) 0;

  overflow: hidden;
}

:is(.gallery__image-container).c1 {
  grid-column: span 2;
}

:is(.gallery__image-container).c2 {
  grid-row: span 2;
}

:is(.gallery__image-container).c3 {
  grid-column: span 2;
}

.gallery__image {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

@media (max-width: 64em) {
  .gallery__images {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  :is(.gallery__image-container).c1 {
    grid-column: span 1;
  }

  :is(.gallery__image-container).c2 {
    grid-column: span 2;
    grid-row: span 1;
  }

  :is(.gallery__image-container).c3 {
    grid-column: span 1;
  }
}

/* #endregion */

/* #region Timeline */

.timeline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: relative;
  z-index: -1;

  width: min(1344px, 90vw);
  height: auto;

  margin-top: min(8rem, 12vh);

  --timeline-color: var(--dune);
}

.timeline__line {
  position: absolute;
  top: 8px;

  left: 50%;
  transform: translateX(-50%);

  width: calc(100% - 36px);
  height: 1px;

  background: var(--timeline-color);
}

.timeline__indicator {
  background: var(--brown);

  height: 100%;
  width: 0%;
}

.timeline__point {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline__star {
  fill: var(--timeline-color);

  z-index: 1;

  width: 16px;
  height: 16px;
}

.point-0 svg {
  fill: var(--brown);
}

.point-0 .timeline__label {
  color: var(--brown);
}

.timeline__label {
  color: var(--timeline-color);
}

.timeline__gun-container {
  width: calc(100% - 32px);

  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

.timeline__gun {
  width: min(172px, 32vw);
  height: auto;

  position: absolute;

  bottom: -9px;
  left: 0%;
}

/* #endregion */
