:root {
  --orange: #f05d23;
  --beige: #ffefd6;
  --dune: #d2b6a3;
  --earth: #a47c6f;
  --brown: #493d08;
  --d1: 11.667rem;
  --d2: 9.333rem;
  --d3: 7.444rem;
  --h1: 2.444rem;
  --h2: 1.944rem;
  --h3: 1.556rem;
  --h4: 1.278rem;
  --h5: 1rem;
  --h6: 0.778rem;
}

/* Fonts */

@font-face {
  font-family: "GrandCru-RegularS";
  font-weight: normal;

  src: url("../fonts/GrandCruRegularS.otf");
}

@font-face {
  font-family: "GrandCru-BoldS";
  font-weight: bold;

  src: url("../fonts/GrandCruBoldS.otf");
}

@font-face {
  font-family: "Proclamate Heavy";
  font-weight: bold;

  src: url("../fonts/ProclamateHeavy.ttf");
}

* {
  font-family: "GrandCru-RegularS";

  color: var(--brown);

  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;

  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

body {
  background: var(--beige);
}

/* Headings */

.d1 {
  font-family: "Proclamate Heavy";
  font-size: 11.667rem;
}

.d2 {
  font-family: "Proclamate Heavy";
  font-size: 9.333rem;
}

.d3 {
  font-family: "Proclamate Heavy";
  font-size: 7.444rem;
}

.h1 {
  font-size: 2.444rem;
}

.h2 {
  font-size: 1.944rem;
}

.h3 {
  font-size: 1.556rem;
}

.h4 {
  font-size: 1.278rem;
}

.h5 {
  font-size: 1rem;
}

.h6 {
  font-size: 0.778rem;
}

.h1,
.h2,
.h3,
.h4 {
  font-family: "GrandCru-BoldS";
}

/* #region Buttons */

.orange--button {
  background: var(--orange);

  padding: 12px 24px;

  border-style: none;
  border-radius: 16px;

  font-size: 1rem;
  font-family: "GrandCru-BoldS";

  transition: 0.2s ease;
}

.orange--button:hover {
  color: var(--orange);
  background-color: var(--brown);

  cursor: pointer;
}

.outline--button {
  color: var(--orange);
  background: transparent;

  padding: 12px 24px;

  font-size: 1rem;
  font-family: "GrandCru-BoldS";

  border: 1px solid var(--orange);
  border-radius: 16px;

  transition: 0.2s ease;
}

.outline--button:hover {
  color: var(--brown);
  border-color: var(--brown);

  cursor: pointer;
}

.icon--button {
  border: transparent none;
  background: none;
}

.icon--button svg {
  display: block;
  fill: var(--brown);

  transition: 0.2s ease;
}

.icon--button:hover svg {
  fill: var(--orange);

  cursor: pointer;
}

a {
  display: block;

  font-size: 1rem;
  font-family: "GrandCru-BoldS";

  text-decoration: none;

  transition: 0.2s ease;
}

a:hover {
  color: var(--orange);

  cursor: pointer;
}

/* #endregion */

/* #region Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  width: calc(100% - 16vw);
  height: 128px;
}

.header .brand {
  font-family: "Proclamate Heavy";
  font-size: 1.278rem;

  cursor: pointer;
}

.header .links {
  display: flex;

  gap: 8vw;

  transform: translateX(0%);
}

.header .links .additional-links {
  display: none;
}

.header .active--link {
  color: var(--orange);
}

.header .active--button {
  color: var(--orange);
  background: var(--brown);
}

.header .active--icon svg {
  fill: var(--orange);
}

.header .actions {
  display: flex;
  align-items: center;

  gap: 2rem;
}

.header .toggle {
  display: none;
}

@media (max-width: 64em) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: revert;

    width: revert;
    height: 0;

    margin: 3rem 2rem;
  }

  .header .brand {
    z-index: 9999;
  }

  .header .links {
    position: fixed;
    inset: 0 0 0 0%;

    background: var(--orange);

    flex-direction: column;

    padding: 8rem 2rem;
    gap: 4vh;

    transform: translateX(100%);
  }

  .header .links[data-visible="true"] ~ .toggle svg {
    fill: var(--brown);
  }

  .header .links[data-visible="true"] ~ .toggle:hover svg {
    fill: var(--beige);
  }

  .header .links a:hover {
    color: var(--beige);
  }

  .header .links .additional-links {
    display: flex;
    flex-direction: column;

    gap: 4vh;
  }

  .header .links .additional-links .seperator svg {
    fill: var(--brown);
  }

  .header .links .additional-links .seperator div {
    background: var(--brown);
  }

  .header .active--link {
    color: var(--beige);
  }

  .header .actions {
    display: none;
  }

  .header .toggle {
    z-index: 9999;

    display: revert;
  }
}

/* #endregion */

/* #region Footer */

.footer__curve {
  position: relative;

  z-index: -1;

  transform: translateY(1px) scaleX(-1);
}

.footer__container {
  background: var(--orange);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

  padding: 0 min(8rem, 4vw);
}

.footer__section {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.footer__brand {
  font-family: "Proclamate Heavy";
  font-size: 1.278rem;

  cursor: pointer;
}

.footer__header {
  font-family: "GrandCru-BoldS";
}

.footer__information {
  background: var(--orange);

  display: flex;
  justify-content: space-between;

  padding: 4rem min(8rem, 4vw) 4rem min(8rem, 4vw);
}

.footer__link:hover {
  color: var(--beige);
}

.footer .active--link {
  color: var(--beige);
}

.footer__icons a {
  display: inline-block;
}

.footer__icon {
  width: 32px;
  height: 32px;
}

.footer__icon svg {
  width: 100%;
  height: 100%;
}

.footer__icon svg:hover {
  fill: var(--beige);
}

@media (max-width: 64em) {
  .footer__container {
    padding: 2rem;

    gap: 1rem;
  }

  .footer__information {
    flex-direction: column;

    gap: 2rem;

    padding: 2rem;
  }
}

/* #endregion */

/* #region Miscellaneous  */

.seperator {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  z-index: -1;
}

.seperator svg {
  display: block;
}

.seperator .seperator__horizontal-line {
  position: absolute;

  top: calc(50% - 1px);

  width: 100%;
  height: 1px;

  background: var(--dune);
}

.seperator .seperator__vertical-line {
  position: absolute;

  left: calc(50% - 1px);

  width: 1px;
  height: 100%;

  background: var(--dune);
}

.curve {
  display: block;

  width: 100%;
  height: auto;

  transform: scale(1.0035);

  fill: var(--orange);
}

.slider__container {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.slider {
  position: relative;

  width: 100%;
  height: 32px;

  margin-bottom: 1rem;
}

.slider__ranges {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0 16px;
}

.slider__range {
  font-family: "GrandCru-BoldS";
}

.slider__input {
  -webkit-appearance: none;

  background: var(--dune);

  width: 100%;
  height: 1px;
}

.slider__input::-webkit-slider-thumb {
  -webkit-appearance: none;

  background: var(--orange);

  width: 32px;
  height: 32px;

  clip-path: path(
    "M32 16C23.1635 16 16 23.1635 16 32C16 23.1635 8.83648 16 0 16C8.83648 16 16 8.83648 16 0C16 8.83648 23.1635 16 32 16Z"
  );
}

.slider__progress__container {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(1px);

  width: calc(100% - 32px);
  height: 1px;

  margin-left: 16px;
}

.slider__progress {
  background: var(--orange);

  width: 50%;
  height: 1px;
}

.slider__side {
  position: absolute;

  width: 32px;
  height: 32px;

  transform: translateY(1px);

  background: var(--beige);
}

.slider__side div {
  clip-path: path(
    "M16 0.666504V32.6665C16 23.83 8.83648 16.6665 0 16.6665C8.83648 16.6665 16 9.50299 16 0.666504Z"
  );
}

.slider__side:nth-child(1) {
  background: var(--beige);
}

.slider__side:nth-child(1) div {
  width: 50%;
  height: 100%;

  position: absolute;
  right: 0;

  transform: scaleX(-1);

  background: var(--orange);
}

.slider__side:nth-child(2) {
  top: 0;
  right: 0;
}

.slider__side:nth-child(2) div {
  width: 50%;
  height: 100%;

  position: absolute;

  background: var(--dune);
}

/* #endregion */ ;
