@font-face {
  font-family: "Stencilitis";
  font-weight: normal;

  src: url("../fonts/Stencilitis.ttf");
}

@font-face {
  font-family: "Tostada";
  font-weight: normal;

  src: url("../fonts/TOSTADA.ttf");
}

@font-face {
  font-family: "Air Americana DEMO";
  font-weight: bold;

  src: url("../fonts/AirAmericanaDEMO-Bold.ttf");
}

@font-face {
  font-family: "Verve";
  font-weight: normal;

  src: url("../fonts/Verve.ttf");
}

@font-face {
  font-family: "Dita Sweet";
  font-weight: normal;

  src: url("../fonts/Dita-Sweet.otf");
}

@font-face {
  font-family: "Die Nasty";
  font-weight: normal;

  src: url("../fonts/dienasty.otf");
}

.home {
  width: 100%;
  height: auto;
}

/* #region Logo */

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: calc(100vh - 128px);

  overflow: hidden;
}

.logo__image {
  width: min(800px, 80vw);
  height: calc(80vh - 128px);
  aspect-ratio: 733 / 619;
}

.logo__snake {
  opacity: 0;
}

.logo__title text {
  font-family: "Proclamate Heavy";
}

.logo__subtitle text {
  font-family: "GrandCru-BoldS";

  fill: var(--earth);
}

@media (max-width: 64em) {
  .logo {
    height: 100vh;
  }

  .logo__image {
    height: min(619px, 80vh);
  }
}

/* #endregion */

/* #region Styles */

.styles__curve {
  position: relative;
  z-index: -1;
}

.styles__curve:last-child {
  transform: translateY(-1px) scale(-1, -1);
}

.styles__title {
  background: var(--orange);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: -1;

  height: 100vh;
}

.styles__title .container {
  width: 100%;
  text-align: center;
}

.styles__title .letter:not(:last-child) {
  letter-spacing: min(8rem, 10vw);
}

.styles__title .letter:nth-child(1) {
  font-family: "Stencilitis";
  font-size: min(112px, 10.5vw);
}

.styles__title .letter:nth-child(2) {
  font-family: "Tostada";
  font-size: min(103px, 10vw);
}

.styles__title .letter:nth-child(3) {
  font-family: "Air Americana DEMO";
  font-size: min(96px, 9.25vw);
}

.styles__title .letter:nth-child(4) {
  font-family: "Verve";
  font-size: min(103px, 10vw);
}

.styles__title .letter:nth-child(5) {
  font-family: "Dita Sweet";
  font-size: min(108px, 10.5vw);
}

.styles__title .letter:nth-child(6) {
  font-family: "Die Nasty";
  font-size: min(100px, 10vw);
}

.styles__images {
  background: var(--orange);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: -1;

  width: 100%;
  height: 100vh;
}

.styles__images svg {
  width: min(1346px, 90vw);
  height: 80vh;
  aspect-ratio: 1346 / 642;

  transform: perspective(1px);
}

.styles__images text {
  font-family: "Proclamate Heavy";
}

/* #endregion */

/* #region Coverups */

.coverups {
  display: flex;
  justify-content: center;

  height: auto;

  margin: 8rem 0;

  text-align: center;
}

.coverups__container {
  width: min(832px, 90vw);
}

.coverups__title {
  white-space: nowrap;

  font-size: min(9.333rem, 20vw);

  margin-bottom: 1rem;
}

.coverups__subtitle {
  color: var(--earth);

  margin-bottom: 2rem;
}

.coverups__reveal {
  width: calc(100% - 32px);
  height: auto;

  margin-bottom: 1rem;

  transform: perspective(1px);
}

/* #endregion */

/* #region Types */

.types {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-bottom: 4rem;
}

.types__container {
  display: flex;
  flex-direction: row;

  width: min(1280px, 90vw);
  height: auto;

  margin-bottom: 2rem;

  gap: 2rem;
}

.types__card {
  width: 50%;

  text-align: center;
}

.types__card__title {
  font-size: min(7.444rem, 10vw);
}

.types__card__subtitle {
  color: var(--earth);

  margin: 1rem auto 2rem auto;

  max-width: 80%;
}

.types__card__subtitle strong {
  color: var(--earth);
}

.types__card:nth-child(1) svg {
  width: 80%;
  height: auto;
}

.types__card:nth-child(3) svg {
  width: 60%;
  height: auto;

  margin-top: min(4rem, 4vw);
}

.types .seperator {
  margin: 4rem 0;
}

.types .seperator svg {
  fill: var(--dune);
}

.types .seperator__horizontal-line {
  display: none;
}

@media (max-width: 64em) {
  .types__container {
    flex-direction: column;

    gap: 2rem;

    margin-bottom: 4rem;
  }

  .types__card {
    width: 100%;
  }

  .types .seperator {
    margin: 0 4rem;
  }

  .types__card__title {
    font-size: min(7.444rem, 20vw);
  }

  .types .seperator__horizontal-line {
    display: revert;
  }

  .types .seperator__vertical-line {
    display: none;
  }
}

/* #endregion */
