@font-face {
  font-family: "Stencilitis";
  font-weight: normal;

  src: url("../fonts/Stencilitis.ttf");
}

@font-face {
  font-family: "Tostada";
  font-weight: normal;

  src: url("../fonts/TOSTADA.ttf");
}

@font-face {
  font-family: "Air Americana DEMO";
  font-weight: bold;

  src: url("../fonts/AirAmericanaDEMO-Bold.ttf");
}

@font-face {
  font-family: "Verve";
  font-weight: normal;

  src: url("../fonts/Verve.ttf");
}

@font-face {
  font-family: "Dita Sweet";
  font-weight: normal;

  src: url("../fonts/Dita-Sweet.otf");
}

@font-face {
  font-family: "Die Nasty";
  font-weight: normal;

  src: url("../fonts/dienasty.otf");
}

.home {
  width: 100%;
  height: auto;

  overflow-y: scroll;
}

/* #region Logo */

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: calc(100vh - 128px);

  margin: 0 auto;
}

.logo .container {
  z-index: -1;

  width: min(733px, 80%); /* Horizontal Padding */
  height: 80%; /* Vertical Padding */
  aspect-ratio: 733 / 619;
}

.logo svg {
  width: 100%;
  height: 100%;
}

.logo .snake {
  opacity: 0;
}

.logo .title text {
  font-family: "Proclamate Heavy";
}

.logo .subtitle text {
  font-family: "GrandCru-BoldS";

  fill: var(--earth);
}

/* #endregion */

/* #region Styles Title */

.styles .curve svg {
  display: block;

  width: 100%;
  height: auto;

  fill: var(--orange);
}

.styles .title {
  background: var(--orange);

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.styles .title .container {
  width: 100%;
  text-align: center;
}

.styles .title .container .letter {
}

.styles .title .container .letter:not(:last-child) {
  letter-spacing: min(8rem, 8vw);
}

.styles .title .container .letter:nth-child(1) {
  font-family: "Stencilitis";
  font-size: min(112px, 100vw);
}

.styles .title .container .letter:nth-child(2) {
  font-family: "Tostada";
  font-size: 103px;
}

.styles .title .container .letter:nth-child(3) {
  font-family: "Air Americana DEMO";
  font-size: 96px;
}

.styles .title .container .letter:nth-child(4) {
  font-family: "Verve";
  font-size: 103px;
}

.styles .title .container .letter:nth-child(5) {
  font-family: "Dita Sweet";
  font-size: 108px;
}

.styles .title .container .letter:nth-child(6) {
  font-family: "Die Nasty";
  font-size: 100px;
}

/* #endregion */

/* Mobile */

@media (max-width: 64em) {
  .logo {
    height: 100vh;
  }
}
