@font-face {
  font-family: "Stencilitis";
  font-weight: normal;

  src: url("../fonts/Stencilitis.ttf");
}

@font-face {
  font-family: "Tostada";
  font-weight: normal;

  src: url("../fonts/TOSTADA.ttf");
}

@font-face {
  font-family: "Air Americana DEMO";
  font-weight: bold;

  src: url("../fonts/AirAmericanaDEMO-Bold.ttf");
}

@font-face {
  font-family: "Verve";
  font-weight: normal;

  src: url("../fonts/Verve.ttf");
}

@font-face {
  font-family: "Dita Sweet";
  font-weight: normal;

  src: url("../fonts/Dita-Sweet.otf");
}

@font-face {
  font-family: "Die Nasty";
  font-weight: normal;

  src: url("../fonts/dienasty.otf");
}

.home {
  width: 100%;
  overflow-y: scroll;
}

.logo svg {
  position: absolute;
}

.logo .subtitle {
  clip-path: polygon(0 595px, 733px 595px, 733px 619px, 0 619px);
}

.logo .subtitle text {
  font-family: "GrandCru-BoldS";
  
  fill: var(--earth);
}

/* Mobile */

@media (max-width: 64em) {
}
