.login {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: min(512px, 90vw);
    height: auto;

    margin: 0 auto;

    padding: 8rem 0;
}

.login__title {
  margin-bottom: 2rem;
}

.login-form {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.login-form__field .field__input {
    width: calc(100% - 32px);
}

.login-form__field {
    margin-bottom: 1rem;
}

.login-form__button {
    padding: 16px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.login__switch {
    color: var(--earth);

    display: flex;
    gap: 4px;
}

.register__link {
    color: var(--orange);
}

.register__link:hover {
    color: var(--brown);
}

.login .seperator {
    width: 100%;

    margin: 2rem 0;
}

.login .seperator__vertical-line {
    display: none;
}

.login__external-auth {
    width: 100%;

    margin-bottom: 1rem;
}