:root {
  --font-space-grotesk: "Space Grotesk", "Space Grotesk Fallback";
  --font-proclamate-heavy: "proclamateHeavy", "porclamateHeavy Fallback";
}

body {
  color: var(--secondary-500);
  background: var(--primary-500);

  font-family: var(--font-space-grotesk), sans-serif;
  font-weight: 500;
}
